/*
120 pixels in height
Full width of the viewport
#4056A1 as its default background colour
#FFFFFF as its default font colour
<span> within the <nav> uses Bungee as its default font-family
1.5ems of space on the right and left between the content and the edges
*/

nav {
  background-color: #4056A1;
  color: #FFFFFF;
  height: 120px;
  width: 100%;
  padding: 0 1.5em;
  position: fixed;
}

span.logo {
  font-family: 'Bungee', cursive;
  font-weight: 400;
  font-size: 3em;
}

div.new-tweet-container {
  display: flex;
  align-items: flex-end;
  flex-direction: column;
  font-size: 1.5em;
}

i.fa-solid.fa-angles-down {
  color: red;
}
