.new-tweet {
  display: flex;
  flex-direction: column;
  padding: 1.5em;
}

.submit-tweet {
  font-family: 'Bungee', cursive;
  font-weight: 400;
  font-size: 1em;
  display: flex;
  margin-top: 1em;
  justify-content: space-between;
}

/* what are you humming about prompt and input form */
span.tweet-input {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  border-bottom: solid;
  font-size: 1.5em;
}

label.tweet-prompt {
  margin-bottom: .5em;
  width: 30%;
}

textarea#tweet-text {
  margin-bottom: .5em;
  width: 70%;
  background-color: #f4f1ec;
}

/* tweet button */
button.tweet-button {
  color: #FFFFFF;
  background-color: #00aae4;
}

.over-count {
  color: #FF9494;
}
